  
  <header id="navbar">    
        <nav class="w-full flex justify-between items-center py-4 px-8 bg-darkBlue text-white">

           <div class="flex items-center space-x-4 " >
            <img src="/assets/images/logo/Screenshot 2025-11-15 171623.png" alt="WOTAZS Logo" class="w-24">
            <a href="index.html" class="text-3xl font-bold">WOTAZS GROUP<br>CONSTRUCTION</a>
           </div>
            
            <!--Menu Items-->            
            <ul class="flex space-x-12">
            <li><a href="../pages/index.html" class="nav-link relative pb-1">Home</a></li>
            <li><a href="../pages/about.html" class="nav-link relative pb-1">About Us</a></li>
            <li><a href="../pages/services.html" class="nav-link relative pb-1">Services</a></li>
            <li><a href="../pages/projects.html" class="nav-link relative pb-1">Projects</a></li>           
            <li><a href="../pages/contact.html" class="nav-link relative pb-1">Contact Us</a></li>
            </ul>  

        </nav>    
  </header>