@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link{
    position: relative;
    transition: font-weight 0.2s ease;
    padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active{
    font-weight: bold;    
}

.nav-link.active::after {
    width: 100%;
}